@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-border {
	text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px black;
}

.bg-custom {
	background: #f3f4f6;
	background: linear-gradient(to left, #f3f4f6 50%, black 50%) right;
	background-size: 200%;
	transition: 0.3s ease-out;
}

.bg-custom:hover {
	background-position: left;
}
